footer {
  background: #222;
  padding: 50px 0;
}
footer h3 {
  color: #fff;
  font-size: 25px;
}
.footer__list li {
  color: #989da4;
  padding: 5px 0;
}
.copyright__info {
  color: #989da4;
}
.footer__list li svg {
  margin-right: 5px;
}
.contact__heading {
  margin-bottom: 10px;
}
