footer {
  background:#222;
  padding:50px 0;
}
footer h3 {
  color:#fff;
  font-size:25px;
}
.footer-list li {
  color:#989da4;
  padding:5px 0;
}
.copyright-info {
  color:#989da4;
}
.footer-list li svg {
  margin-right:5px;
}
.contact-heading {
  margin-bottom:10px;
}