/*
  # Hero
*/
.hero {
  height: 100vh;
  padding: 80px 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &__title {
    color: #0000;
    font-size: 450%;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: rgba(1, 1, 1, 0.8);
  }
  &__description {
    text-align: left;
    margin-left: 10%;
  }
}

/*
  # Hero
*/
.hero-platform {
  background: url(../img/hero-platform.jpg) no-repeat center center;
  background: url(../img/hero-platform.jpg) no-repeat center center;
  background: url(../img/hero-platform.jpg) no-repeat center center;
  background: url(../img/hero-platform.jpg) no-repeat center center;
  background-size: cover;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: flex-end;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  &__title {
    color: $color-white;
    text-align: center;
    font-size: 450%;
    font-weight: 300;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
  &__tagline {
    margin-bottom: 15px;
    font-size: 150%;
    margin-left: 15px;
    color: $color-white;
    font-weight: 300;
  }
}
