/*
  #About
*/
.about {
  padding: 40px 0;
  text-align: center;
  background-color: $color-darker-silver;
}

.about-description {
  font-size: 18px;
  color: $color-white;
}

/*

#Mission

*/

.mission {
  text-align: center;
  background: #f5f5f5;
}
.mission-title {
  margin-top: 15px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 150%;
  margin-bottom: 10px;
  display: inline-block;
}
.mission p {
  text-align: justify !important;
  width: 90%;
  margin-left: 5%;
}
.left-col {
  border-right: 1px solid #e5e5e5;
  height: 50%;
}
.mission svg {
  margin-left: 3% !important;
  font-size: 200%;
  color: $color-light-blue;
}
/*
  #Value
  */
.value {
  background: $color-warm-white;
  color: black;
}
.value-heading {
  margin-top: 30px;
  font-weight: bold;
}
.value svg {
  width: 80px;
}

/*
  #About-us  
  */
.about-name {
  margin-top: 30px;
  margin-bottom: 15px;
  font-weight: bold;
}
.about-title {
  color: $color-dark-blue;
  font-weight: bold;
}
.break {
  display: block;
  width: 200px;
  height: 1px;
  background-color: $color-dark-blue;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 30px;
}
.about-us a {
  text-decoration: none;
  color: $color-dark-blue;
}
.about-us img {
  border-radius: 50%;
}
/*
  #Awards
*/

.awards {
  background: $color-warm-white;
  text-align: center;
  img {
    margin-top: 25px;
  }
  h3 {
    font-weight: bold;
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 180%;
    margin-bottom: 30px;
  }
}
/*
  #Platform
  
*/

.hero-platform {
  background-image: url('../img/hero.jpg');
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  height: 100vh;
}

.platform-company {
  background: $color-warm-white;
}
.platform-title {
  font-weight: bold;
  font-size: 120%;
  margin-bottom: 5px;
}
.title.dark {
  color: #222;
}
.desc.dark {
  color: #222;
}
.financial-instiution {
  margin-top: 50px;
}

.hero-platform {
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.3)),
      to(rgba(0, 0, 0, 0.3))
    ),
    url(../img/hero.jpg) no-repeat center center fixed;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../img/hero.jpg) no-repeat center center fixed;
  background: -o-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../img/hero.jpg) no-repeat center center fixed;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../img/hero.jpg) no-repeat center center fixed;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
