$color-dark-blue: #3399ff;
$color-light-blue: #6cf;
$color-dark-green: #4afecc;
$color-light-green: #99ffcc;
$color-white: #fff;
$color-dark-silver: #424242;
$color-darker-silver: #222;
$color-warm-white: #f5f5f5;
$color-text: #3e4242;
$color-text-nav: #8b959e;
